<nav class="menu">
    <LinkTo @route="index" class="menu-index">
        <h1>CMC College</h1>
    </LinkTo>
    <div class="links">
        <LinkTo @route="departments" class="menu-about">
            Department
        </LinkTo>
        <LinkTo @route="students" class="menu-about">
            Students
        </LinkTo>
        <LinkTo @route="teachers" class="menu-contact">
            Teachers
        </LinkTo>
    </div>  
</nav>